# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies
node_modules/

# Output directories
dist/
dist-ssr/
*.local

# Husky
.husky/

# Editor directories and system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Amplify
.amplify/
amplify_outputs*
amplifyconfiguration*

